<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1; url=/RKnUB922z6Mf4HDwg3EZ">
    <title></title>
</head>
<body style="height: 100%;">
            <div style="display: grid; justify-content: center; align-items: center; height: 100vh;">
                <img style="justify-self: center; width: 100px;" src="./img/Rolling-1s-200px (4).svg" alt="">
            </div>
</body>
</html>